root=true
# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org


[*]
end_of_line=crlf
charset=utf-8
trim_trailing_whitespace=true
insert_final_newline=true

# Microsoft .NET properties
csharp_new_line_before_catch=false
csharp_new_line_before_else=false
csharp_new_line_before_finally=false
csharp_new_line_before_members_in_object_initializers=true
csharp_new_line_before_open_brace=none
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_space_after_keywords_in_control_flow_statements=false
csharp_style_namespace_declarations=file_scoped
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
dotnet_naming_rule.private_constants_rule.severity=suggestion
dotnet_naming_rule.private_constants_rule.style=lower_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_static_readonly_rule.severity=suggestion
dotnet_naming_rule.private_static_readonly_rule.style=lower_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix=_
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# Organize usings
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = true
file_header_template = unset

# 'using' directive preferences
csharp_using_directive_placement = outside_namespace:warning

# Indentation preferences
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_case_contents_when_block = true
csharp_indent_labels = one_less_than_current
csharp_indent_switch_labels = true

# Space preferences
csharp_space_after_cast = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_after_dot = false
csharp_space_after_keywords_in_control_flow_statements = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_comma = false
csharp_space_before_dot = false
csharp_space_before_open_square_brackets = false
csharp_space_before_semicolon_in_for_statement = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false

# ReSharper properties
resharper_allow_comment_after_lbrace=true
resharper_brace_style=end_of_line
resharper_csharp_wrap_lines=false
resharper_enforce_line_ending_style=true
resharper_new_line_before_catch=false
resharper_new_line_before_else=false
resharper_new_line_before_finally=false
resharper_csharp_namespace_body=file_scoped

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_comment_typo_highlighting=none
resharper_identifier_typo_highlighting=none
resharper_inconsistent_naming_highlighting=suggestion
resharper_localizable_element_highlighting=none
resharper_redundant_base_qualifier_highlighting=warning
resharper_string_literal_typo_highlighting=none
resharper_suggest_var_or_type_built_in_types_highlighting=hint
resharper_suggest_var_or_type_elsewhere_highlighting=hint
resharper_suggest_var_or_type_simple_types_highlighting=hint
resharper_simplify_linq_expression_use_all_highlighting=none

[*.{cs,vb}]
max_line_length=200
csharp_max_line_length=200

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning
# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = warning

dotnet_naming_rule.private_members_with_underscore.symbols = private_fields
dotnet_naming_rule.private_members_with_underscore.style = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = suggestion

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.prefix_underscore.capitalization = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _

# Roslynator

dotnet_diagnostic.RCS0003.severity = warning
dotnet_diagnostic.RCS0008.severity = warning
dotnet_diagnostic.RCS0010.severity = warning
dotnet_diagnostic.RCS1003.severity = warning
dotnet_diagnostic.RCS1077.severity = none
dotnet_diagnostic.RCS1035.severity = warning
dotnet_diagnostic.RCS1037.severity = warning
dotnet_diagnostic.RCS1057.severity = warning
dotnet_diagnostic.RCS1080.severity = none
dotnet_diagnostic.RCS1090.severity = none
dotnet_diagnostic.RCS1096.severity = none
dotnet_diagnostic.RCS1010.severity = warning
dotnet_diagnostic.RCS1118.severity = none
dotnet_diagnostic.RCS1124.severity = none
dotnet_diagnostic.RCS1173.severity = none
dotnet_diagnostic.RCS1176.severity = warning
dotnet_diagnostic.RCS1177.severity = warning
dotnet_diagnostic.RCS1179.severity = none
dotnet_diagnostic.RCS1221.severity = none
dotnet_diagnostic.RCS1224.severity = none
dotnet_diagnostic.RCS0003.severity = warning
dotnet_diagnostic.RCS1036.severity = warning
dotnet_diagnostic.RCS1046.severity = warning
dotnet_diagnostic.RCS1094.severity = warning
dotnet_diagnostic.RCS1128.severity = none # Use coalesce expression.
dotnet_diagnostic.RCS1197.severity = none

# Globalization diagnostics

dotnet_diagnostic.CA1304.severity = warning
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1307.severity = warning
dotnet_diagnostic.CA1308.severity = none
dotnet_diagnostic.CA1309.severity = warning
dotnet_diagnostic.CA1310.severity = warning

# Other diagnostics

dotnet_diagnostic.IDE0019.severity = none
dotnet_diagnostic.IDE0019WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0037.severity = none
dotnet_diagnostic.IDE0037WithoutSuggestion.severity = none
dotnet_diagnostic.IDE0049.severity = none
dotnet_diagnostic.IDE0130.severity = warning
dotnet_diagnostic.IDE0160.severity = none
dotnet_diagnostic.IDE0161.severity = warning
dotnet_diagnostic.IDE1006.severity = warning
dotnet_diagnostic.CA1041.severity = warning
dotnet_diagnostic.CA1507.severity = warning
dotnet_diagnostic.CA1710.severity = warning
dotnet_diagnostic.CA1820.severity = warning
dotnet_diagnostic.CA1825.severity = warning
dotnet_diagnostic.CA1827.severity = warning
dotnet_diagnostic.CA1828.severity = warning
dotnet_diagnostic.CA1829.severity = warning
dotnet_diagnostic.CA1841.severity = warning
dotnet_diagnostic.CA1849.severity = warning
dotnet_diagnostic.CA1851.severity = warning
dotnet_diagnostic.CA1854.severity = warning
dotnet_diagnostic.CA2016.severity = warning
dotnet_diagnostic.CA2017.severity = warning
dotnet_diagnostic.CA2254.severity = warning
dotnet_diagnostic.RS0030.severity = error

# These are disabled due to https://github.com/dotnet/roslyn/issues/41640
dotnet_diagnostic.CS1573.severity = none # Parameter 'parameter' has no matching param tag in the XML comment for 'parameter' (but other parameters do)
dotnet_diagnostic.CS1591.severity = none # Missing XML comment for publicly visible type or member 'Type_or_Member'

# Karls Analyzers

dotnet_diagnostic.KP0001.severity = warning

# Disable some warnings for tests

[test/**]
dotnet_diagnostic.CA1851.severity = none

[*.{appxmanifest,axml,build,dbml,discomap,dtd,jsproj,lsproj,njsproj,nuspec,proj,proto,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,razor,config}]
indent_style=space
indent_size=4
tab_width=4

[*.{js,mjs,json,resjson,csproj,props,scss,css}]
indent_style=space
indent_size=2
tab_width=2

[*.{ps1,sh}]
end_of_line=lf
